
a {
    text-decoration: none;
    color: black;
}
table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.titulo-foto{
    text-align: center;

}
.row-1 {
    position: relative;
}
.row-2 {
    position: relative;
}
#fotos-h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

