
a {
    text-decoration: none;
}

#article-1 {
    display: inline-block;
    border: 2px solid black;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    background-color: white;
    text-align: center;
}
#article-1 > h2 {
    background-color: white;
}

#article-1 > blockquote {
    background-color: white;
}

#article-1 > q {
    background-color: white;
}

#article-2 {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}

#article-2 > h3 {
    margin-top: 20px;
    text-align: center;
}

#article-3 {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}

#article-3 > h3 {
    margin-top: 20px;
    text-align: center;
}
#article-4 {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}

#article-4 > h3 {
    margin-top: 20px;
    text-align: center;
   
}

#sweet-pain {
    display: inline-block;
    border: 2px solid black;
    
}

#sweet-pain > img {
    width: 15%;
    float: left;
}



#sweet-pain > p {
    width: 85%;
    float: right;
}


#chuty {
    display: inline-block;
    border: 2px solid black;
    margin-top: 25px;
}

#chuty > img {
    width: 15%;
    float: left;
}

#chuty > p {
    width: 85%;
    float: right;
}

#zasko-master {
    display: inline-block;
    border: 2px solid black;
    margin-top: 25px;
}
#zasko-master > img {
    width: 15%;
    float: left;
}

#zasko-master > p {
    width: 85%;
    float: right;
}

#bnet {
    display: inline-block;
    border: 2px solid black;
    margin-top: 25px;
    
    
}
#bnet > img {
    width: 15%;
    float: left;
}

#bnet > p {
    width: 85%;
    float: right;
}
