
main {
   position: relative;
   margin-top: 50px;
   text-align: center;
}

main > figure > figcaption{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

aside {
    display: inline-block;
}

main > aside > h3 {
    font-family: sans-serif;
    margin-bottom: 20px;
}

main > aside > img {
    float: left;
    width: 200px;
    margin-left: 5%;
}

main > aside > .text > p{
    box-shadow:
    0 0 0 5px rgb(145, 143, 143),
    0 0 0 10px rgb(167, 165, 165),
    0 0 0 15px rgb(211, 208, 208);
    font-size: 20px;
    line-height: 28px;
    width: 90%;
    margin-left: 5%;
}

.nav-elem :hover {
  
    transform: scale(1.5);
}
a {
    text-decoration: none;
    
}


li {
    color: black;
    margin-top: 15px;
}

summary {
    margin-top: 30px;
}


.item-summary {
    font-family: sans-serif;
    font-size: 15px;
    color: blue;
}


