* {
    padding: 0;
    margin: 0;
    background-color: rgb(216,216,216);
    
}

header {
    text-align: center;
    position: relative;
}

header > h1 {
   margin-top: 50px;
  
}

header > #logo-gazir {
    margin-top: 25px;
}

#logo-gazir {
    border-radius: 50%;
}

#navegacion {
    margin-top: 5px;
    font-family: sans-serif;
}

#navegacion > .nav-elem {
    display: inline;
    padding: 3px 3px 3px 12px;
    
}

#navegacion > li > a {
    color: black;
}

main {
   position: relative;
   margin-top: 50px;
   text-align: center;
}

main > figure > figcaption{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

aside {
    display: inline-block;
}

main > aside > h3 {
    font-family: sans-serif;
    margin-bottom: 20px;
}

main > aside > img {
    float: left;
    width: 200px;
    margin-left: 5%;
}

main > aside > .text > p{
    box-shadow:
    0 0 0 5px rgb(145, 143, 143),
    0 0 0 10px rgb(167, 165, 165),
    0 0 0 15px rgb(211, 208, 208);
    font-size: 20px;
    line-height: 28px;
    width: 90%;
    margin-left: 5%;
}

.nav-elem :hover {
  
    transform: scale(1.5);
}
a {
    text-decoration: none;
    
}


li {
    color: black;
    margin-top: 15px;
}

summary {
    margin-top: 30px;
}


.item-summary {
    font-family: sans-serif;
    font-size: 15px;
    color: blue;
}


footer {
    text-align: center;
    margin-top: 20px;
}

footer > a > #logo-insta {
    width: 40px;
}

footer > a > #logo-twitter {
    width: 40px;
}