* {
    padding: 0;
    margin: 0;
    background-color: rgb(216,216,216);
    
}
header {
    text-align: center;
    margin-bottom: 30px;
}

header > h1 {
    margin-top: 20px;
}
header > #logo-gazir {
    margin-top: 50px;
}
#navegacion {
    margin-top: 15px;
}

.nav-elem {
    display: inline;
    padding: 3px 3px 3px 12px;
    color: black;
    transition: 1s;
    
}

.nav-elem :hover {
  
    transform: scale(1.5);
}
a {
    text-decoration: none;
    
}

#logo-gazir {
    border-radius: 50%;
}
p {
    color: black;
    margin-top: 15px;
}

#foto-batalla {
    display: flex;
    top: 123px;
}
